{% extends 'base.html' %}
{% load static %}
{% block body %}


  <div class="hero hero-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">Blog Details</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Blog Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           
            <div class="post-box">
              <div class="post-thumb">
                <img src="{{ single_blog.image.url}}" class="img-fluid" alt="">
              </div>
              <div class="post-meta">
                <h1 class="article-title">{{ single_blog.name}}</h1>
              </div>
              <div class="article-content">
                <p>
                  {{ single_blog.description}}
                </p>
              </div>
            </div>
            

            
          </div>
         
        </div>
      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  
  {% endblock %}